body{
    background: #000;
}
#container {
    max-width: 500px;
    margin: auto;
}
#my-canvas {
    background: #000;
}
.reset-game {
    margin: 0 auto;
    font-size: 32px;
    border-radius: 50px;
    background-color: #333;
    color: white;
    border: 1px solid red;
}
