.game-container {
    width: 500px;
    height: 500px;
    background-color: lightskyblue;
    font-family: monospace;
    overflow: hidden;
    position: relative;
}

.ui {
    position: absolute;
}

.round {
    top: -10px;
    left: 10px;
    font-size: 20px;
}

.score {
    bottom: -20px;
    right: 10px;
    font-size: 30px;
}

.win, .lose {
    font-size: 30px;
    top: 180px;
}

.win {
    left: 130px;
}

.lose {
    left: 175px;
}

button {
    font-size: 30px;
    top: 250px;
}

.reset-game {
    left: 170px;
}

.next-round {
    left: 155px;
}

.fly-area {
    width: 500px;
    height: 350px;
    position: relative;
}

.duck {
    position: absolute;
    width: 50px;
    height: 50px;
}

.shot {
    position: absolute;
    z-index: 3;
    bottom: 10px;
    height: 20px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
}

.one {
    left: 10px;
}

.two {
    left: 30px;
}

.three {
    left: 50px;
}

.four {
    left: 70px;
}

.five {
    left: 90px;
}

.grass {
    position: absolute;
    bottom: 0;
}

.tree {
    position: absolute;
    bottom: 20px;
    width: 200px;
    height: 250px;

}

.win, .lose, .next-round, .reset-game {
    display: none;
}