.game-container {
    width: 500px;
    height: 500px;
    background-color: lightskyblue;
    overflow: hidden;
}

.fly-area {
    width: 500px;
    height: 350px;
    position: relative;
}

.duck {
    position: absolute;
    width: 50px;
    height: 50px;
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
}

p {
    display: none;
}