html {
    background-color: beige;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-ribbon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid grey;
}

.score-area {
    display: flex;
    justify-content: center;
    width: 650px;
    margin: 20px auto;
    flex-wrap: wrap;
}

figure {
    margin: 0;
    padding: 0;
    position: relative;
}

.thumbnail {
    height: 300px;
    width: 300px;
    transition: .5s ease;
}

figcaption {
    opacity: 0;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    background-color: #0006;
    border-radius: 10px;
    padding: 5px;
    color: white;
    transition: .5s ease;
}

figure:hover img {
    opacity: 0.3;
}

figure:hover figcaption {
    opacity: 1;
}

span {
    display: block;
}