* {
    margin: 0;
    padding: 0;
  }

  html {
    font-family: monospace;
    margin-top: 50px;
  }

  body {
    text-align: center;
    background-color: grey;
  }


  h1{
      margin-left: 30%;
  }
  
  .title {
    font-size: 3rem;
  }

  .full-game-container {
    margin: auto;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
  }

  .game-container {
    width: 500px;
    height: 500px;
    background-color: lightgray;
    margin: 50px auto;
    border: 5px solid black;
    position: relative;
    overflow: hidden;
  }

  .snake-section {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: green;
    border-radius: 30%;
  }
  .one {
    top: 240px;
    left: 260px;
  }
  .two {
    top: 240px;
    left: 250px;
  }
  .three {
    top: 240px;
    left: 240px;
  }

  .apple {
    width: 10px;
    height: 10px;
    position: absolute;
  }

  .score-reset-container {
    margin-left: 20px;
  }

  .current-score, .highscore {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
  }

  .game-over {
    color: black;
    margin-top: 50%;
    display: none;
  }

  .reset-game, .submit-score {
    width: auto;
    font-family: monospace;
    margin:  20px 0;
    padding: 10px 20px;
    font-size: 20px;
    background-color: darkgrey;
    border-radius: 50px;
    display: none;
  }

  .flex{
      display: flex;
  }

  .highscores{
      margin-left: 10%;
      font-size: 15px;
      padding-left: 5%;
      padding-right: 5%;
  }

  .gameselect{
      margin-left: 10%;
      font-size:15px;
      padding-left: 5%;
      padding-right: 5%;
  }
