<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">        
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <title>JavaScript Asteroids</title>
        <link rel="stylesheet" type="text/css" href="../static/asteroids.css">
        
    </head>
    <body>
        <div id='container'>
            <canvas id='my-canvas' ></canvas>
        </div>  
        <button class='reset-game'>Start Over</button>
        <button class='submit-score'>Submit High Score</button>
        <script src="../static/asteroids.js"></script>
    </body>
</html>