<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/duckhunt.css">
        <title>Document</title>
    </head>
    <body>
        <div class='game-container'>
            <div class='fly-area'>
                <img class='duck red' src='../static/images/duck.png'>
                <img class='duck blue' src='../static/images/duck.png'>
            </div>
            <div class='shot one'></div>
            <div class='shot two'></div>
            <div class='shot three'></div>
            <div class='shot four'></div>
            <div class='shot five'></div>
            <img class='tree' src='../static/images/tree.png'>
            <img class='grass' src='../static/images/grass.png'>
            <p class='round ui'>Round: <span class='round-value'>1</span></p>
            <p class='score ui'>Score: <span class='score-value'>0</span></p>
            <p class='win ui'>Round passed!</p>
            <button class='next-round ui'>Next Round</button>
            <p class='lose ui'>You lose</p>
            <button class='reset-game ui'>Start Over</button>
        </div>
        <script src='../static/duckhunt.js'></script>
    </body>
</html>