<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Retro Game Collection</title>

  <link rel="stylesheet" href="../static/styles.css"/">

</head>


<body>
    <div class = 'flex'>
    <h1>Retro Game Collection</h1>
    <input class="login" type="button" onclick="location.href='login.html'" value="Login"/>
    <input class="signup" type="button" onclick="location.href='signup.html'" value="Signup"/>
    </div>
    <hr>
    <br>
    <h2 class='snake'>Snake</h2>
    <a href="../templates/snake.html"> <img class = 'first' src = "../static/images/Snake.png"/> </a>
    <a href="../templates/duckhunt.html"><img class = 'second' src = "../static/images/Duck-Hunt.png"/></a>
    <div class = 'flex'>
    <p class = 'p1'>The snake is controlled by the player and when it eats a red dot it gets bigger. Your goal is to eat as many red dots as possible without croosing itself or it will end in a gameover. Use the arrow keys to move the snake around.
    </p>
    <p class = 'p2'>Duck Hunt is a game where you have to hit these ducks and have certain amout of bullets to hit the two ducks or else it is game over. Use your mouse and click where to shoot.</p>
</div>
    <a href="../templates/spaceinvaders.html"><img class = 'first' src = "../static/images/Space-invaders.png"></a>
    <a href="../templates/asteroids.html"><img class = 'second' src = "../static/images/asteroids.png"></a>
    <div class = 'flex'>
      <p class = 'p3'>You use your little spaceship to shoot the invaders out of the air. Use the left and right arrow key to move left and right. Also use the up arrow to shoot.</p>
    <p class = 'p4'>Use a ship and shoot as many asteroids as you can, each asteroid you shoot spawns more little asteroids that you have to clear. Use your left and right to tuen your ship and the up arrow to move it in that direction. Also use space to shoot the asteroids.
    </p>
</div>
</body>
</html>
