<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Retro Game Collection</title>

  <link rel="stylesheet" href="../static/styles.css"/">

</head>
    

<body>
    <div class = 'flex'>
    <h1>Retro Game Collection</h1>
    <input class="login" type="button" onclick="location.href='login.html'" value="Login"/>
    <input class="signup" type="button" onclick="location.href='signup.html'" value="Signup"/>
    </div>
    <hr>
    <br>    
    <h2 class='snake'>Snake</h2>
    <a href="../templates/snake.html"> <img class = 'first' src = "../images/Snake.png"/> </a>
    <a href="../templates/duckhunt.html"><img class = 'second' src="https://via.placeholder.com/250"></a>
    <p>The snake is controlled by the player and when it eats a red dot it gets bigger. Your goal is to eat as many red dots as possible without croosing itself or it will end in a gameover.
    </p>
    <a href="../templates/pong.html"><img class = 'first' src="https://via.placeholder.com/250"></a>
    <a href="../templates/asteroids.html"><img class = 'second' src="https://via.placeholder.com/250"></a>
</body>
</html>