<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/snake.css"/>
    <title>Snake Game</title>
  </head>
  <body>
    <div class = 'flex'>
    <h1 class='title'>Snake</h1>
    <input class="highscores" type="button" onclick="location.href='highscores'" value="Highscores"/>
    <input class="gameselect" type="button" onclick="location.href='home'" value="Game-Select"/>
    </div>
    <hr>
    <br>
    <div class='full-game-container'>
      <div class='title-game-container'>
        <div class='game-container'>
          <div class='snake-section one'></div>
          <div class='snake-section two'></div>
          <div class='snake-section three'></div>
          <img class='apple' src='../static/images/apple.png' />
          <h2 class='game-over'>Game Over!</h2>
        </div>
      </div>
      <div class='score-reset-container'>
        <div class='scoreboard'>
          <div class='current-score'>
            <p>Score:</p>
            <p class='score'> 0</p>
          </div>
          <div class='highscore'>
            <p>Global High Score:</p>
            <p class='high-score'> {{score2}}</p>
          </div>
        </div>
        <button class='reset-game'>Play Again</button>
        <button class='submit-score'>Submit High Score</button>
      </div>
    </div>
    <script src="../static/snake.js"></script>
  </body>
</html>
